<section class="about-us">

	<div class="people">

		<div class="person">

			<img src="/assets/images/profile-ben.jpg?d=15" alt="Ben Gillbanks - WordPress developer">

			<p><strong>Hi, I’m Ben!</strong> I’m a WordPress theme developer. I built one of the most popular themes on WordPress.com, one of the first “magazine style” themes and co-founded leading WordPress theme shop <a href="https://prothemedesign.com/">Pro Theme Design</a>.</p>

			<p>I’m an experienced developer, serving for over a decade as Director of Web Development at one of the largest websites in the world.</p>

		</div>

		<div class="person">

			<img src="/assets/images/profile-alex.jpg?d=15" alt="Alex Denning - marketing for WordPress businesses">

			<p><strong>Hey, I’m Alex!</strong> I do <a href="https://www.alexdenning.com">marketing for WordPress businesses</a>. I founded one of the most popular WordPress development tutorial blogs and do marketing full time.</p>

			<p>I love sharing ideas and have written for some of the biggest and most respected blogs around.</p>

		</div>

	</div>

</section>

<footer>

	<nav>
		<a href="{% link index.md %}">Newsletter</a>
		<span>&bull;</span>
		<a href="{% link _pages/themes.md %}">WordPress Theme Finder</a>
		<span>&bull;</span>
		<a href="{% link _pages/sitemap.md %}">Sitemap</a>
	</nav>

	<div class="copyright">

		&copy; 2016 - {{ site.time | date: '%Y' }} MasterWP - a <a href="https://prothemedesign.com" rel="nofollow">Pro Theme Design</a> thing <!-- - <a href="{% link _pages/terms.md %}">Terms</a> -->

	</div>

</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{{ "/assets/scripts/main.js" | relative_url }}?dc={{ site.time | date: '%y%m%d%k%M' }}"></script>
<script src="{{ "/assets/scripts/prefixfree.min.js" | relative_url }}?dc={{ site.time | date: '%y%m%d%k%M' }}"></script>
