<section class="about-us">

	<div class="people">

		<div class="person">

			<img src="/assets/images/profile-ben.jpg?d=15" alt="Ben Gillbanks - WordPress developer">

			<p><strong>Hi, I’m Ben!</strong> I’m a WordPress theme developer. I built one of the most popular themes on WordPress.com, one of the first “magazine style” themes and co-founded leading WordPress theme shop <a href="https://prothemedesign.com/">Pro Theme Design</a>.</p>

			<p>I’m an experienced developer, serving for over a decade as Director of Web Development at one of the largest websites in the world.</p>

		</div>

		<div class="person">

			<img src="/assets/images/profile-alex.jpg?d=15" alt="Alex Denning - WordPress power-user">

			<p><strong>Hey, I’m Alex!</strong> I’m a WordPress power-user. I founded one of the most popular WordPress tutorial blogs and have written for Smashing Magazine, WPShout, WPZOOM and more.</p>

			<p>I’ve created documentation and video tutorials for WordPress companies and understand what users need to know.</p>

		</div>

	</div>

</section>

<footer>

	<div class="copyright">

		&copy; 2016 - {{ site.time | date: '%Y' }} MasterWP - a <a href="https://prothemedesign.com" rel="nofollow">Pro Theme Design</a> thing <!-- - <a href="{% link _pages/terms.md %}">Terms</a> -->

	</div>

</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{{ "/assets/scripts/main.js" | relative_url }}?dc={{ site.time | date: '%y%m%d%k%M' }}"></script>
<script src="{{ "/assets/scripts/prefixfree.min.js" | relative_url }}?dc={{ site.time | date: '%y%m%d%k%M' }}"></script>
