
		<header class="masthead">

			{% include navigation.html %}

			<div class="container">

				<div class="branding">

					<h1><a href="/">Master<span>WP</span> Weekly</a></h1>
					<h2>A concise and carefully curated email to enjoy every week.</h2>

				</div>

				{% if page.intro %}
				<div class="banner">

					<h2>{{ page.title | escape }}</h2>

					{{ page.intro | markdownify }}

					{% if page.intro_include %}
						{% include {{ page.intro_include }} %}
					{% endif %}

				</div>
				{% endif %}
			</div>

		</header>
