<form class="natural-language-form">

	I am looking for <select class="nl-select theme-type" name="theme-type">
		<option value="any" selected>any WordPress theme</option>
		<option value="blog">a blogging theme</option>
		<option value="business">a business theme</option>
		<option value="magazine">a magazine theme</option>
		<option value="portfolio">a portfolio theme</option>
		<option value="restaurant">a restaurant theme</option>
		<option value="charity">a charity theme</option>
	</select>,
	that supports <select class="nl-select theme-feature-1" name="theme-feature-1">
		<option value="any" selected>this feature</option>
		<option value="woo-commerce">WooCommerce</option>
		<option value="jetpack">Jetpack</option>
		<option value="projects">projects</option>
		<option value="page-builder">a page builder</option>
		<option value="slider">a slider</option>
	</select>, and <select class="nl-select theme-feature-2" name="theme-feature-2">
		<option value="any" selected>this other feature</option>
		<option value="woo-commerce">WooCommerce</option>
		<option value="jetpack">Jetpack</option>
		<option value="projects">projects</option>
		<option value="page-builder">a page builder</option>
		<option value="slider">a slider</option>
	</select>.
	<!--
	Show me themes sorted <select class="nl-select theme-order" name="theme-order">
			<option value="name" selected>by name</option>
			<option value="release-date">by release date</option>
			<option value="cheapest">by cheapest first</option>
		</select>.
	-->

</form>
