
.content {

	padding: ( $grid-line-height * $grid-line-height-multiplier * 2 ) 10%;
	@include modular-scale( epsilon );
	@include container;
	clear: both;
	background: lighten( $canvas-color, 4% );

	p:last-child {

		margin-bottom: 0;

	}

	&:nth-child( odd ) {

		background: $canvas-white;

	}

	h1, h2 {

		@include modular-scale( gamma );
		margin-bottom: $grid-line-height * $grid-line-height-multiplier;

	}

	.intro {

		@include modular-scale( delta );
		margin-bottom: $grid-line-height * $grid-line-height-multiplier * 2;
		clear: both;

	}

}
