footer {

	background: $canvas-grey-10;

	.copyright {

		padding: ( $grid-line-height * 2 ) 0;
		@include post-meta-data;
		text-align: center;
		opacity: 0.6;

		&:hover {

			opacity: 1;

		}

	}

}
