footer {

	padding: ( $grid-line-height * 2 ) ( $grid-gutter / 4 ) ( $grid-line-height * 6 ) ( $grid-gutter / 4 );

	nav,
	.copyright {

		@include post-meta-data;
		text-align: center;
		opacity: 0.6;
		margin-bottom: $grid-line-height;
		line-height: 2.5;

		&:hover {

			opacity: 1;

		}

	}

	nav {

		a {

			padding: 1em;

		}

	}

}
