
.masthead {

	position: relative;

	nav {

		@include post-meta-data;
		text-align: center;
		background: lighten( $canvas-color, 8% );

		a {

			display: inline-block;
			padding: ( $grid-line-height / 2 ) ( $grid-gutter / 2 );
			//color: $canvas-white;

		}

		span {

			//color: $canvas-white;
			opacity: 0.4;

		}

	}

	> * {

		position: relative;
		z-index: 1;

	}

	img {

		display: block;
		max-height: $grid-line-height * 5;
		float: left;
		margin-right: $grid-gutter;

	}

	.container {

		display: flex;
		padding: ( $grid-line-height * 3 ) $grid-gutter ( $grid-line-height * 3 ) ( $grid-gutter );
		justify-content: center;
		align-items: center;

	}

	.branding {

		h1 {

			@include modular-scale( gamma );
			margin: 0 0 ( $grid-line-height / 4 ) 0;
			display: inline-block;

			span {

				font-weight: bold;

			}

			a {

				text-decoration: none;

				&:hover {

					text-decoration: underline;

				}

			}

		}

		h2 {

			@include modular-scale( zeta );
			margin: 0;

		}

		p {

			margin: 0;

			&.sub {

				@include post-meta-data;

			}

		}

	}

}
