
.newsletter {

	@include modular-scale( zeta );

	label {

		span {

			display: block;
			z-index: 10;
			position: relative;
			padding: 0 ( $grid-gutter / 4 );
			width: 5em;
			text-align: right;
			height: 0;
			transform: translateY( $grid-line-height / 2 );

		}

	}

	.mc-field-group {

		margin-bottom: $grid-line-height;

	}

	div.mce_inline_error {

		@include post-meta-data;
		color: $canvas-red;

	}

	input[type=text],
	input[type=email] {

		font-weight: normal;
		padding-left: 5em;
		margin-bottom: 0;

	}

	p {

		@include modular-scale( epsilon );

	}

	.sub {

		@include modular-scale( eta );

	}

	.sup {

		margin-bottom: 0;

	}

	// Make the newsletter in the intro overlap.
	.intro & {

		padding-top: $grid-line-height * $grid-line-height-multiplier;

	}

	.response {

		margin-top: $grid-line-height / 2;
		padding: ( $grid-line-height / 2 ) ( $grid-gutter / 2 );
		background: $canvas-color;
		border-radius: $border-radius;
		display: none;

	}

	.subscribe {

		margin-right: $grid-gutter / 2;

	}

}
