.people {

	position: relative;
	display: flex;
	@include clear;

	.person {

		padding: ( $grid-line-height * 3 ) 10%;
		width: 50%;
		float: left;

		&:nth-child( 1 ) {

			background: lighten( $canvas-color, 8% );

		}

		&:nth-child( 2 ) {

			background: lighten( $canvas-color, 5% );

		}

		strong {

			@include modular-scale( epsilon );
			display: block;
			margin-bottom: $grid-line-height / 2;
			margin-right: $grid-gutter * -1.25;
			transform: translateX( $grid-gutter * -1.25 );

			&:before {

				display: inline-block;
				content: '';
				border-bottom: $border-width solid $body-copy-color;
				width: $grid-gutter;
				vertical-align: middle;
				margin-right: $grid-gutter / 4;

			}

		}

		img {

			max-width: 8rem;
			float:left;
			margin: ( -0.5 * $grid-line-height ) ( 0.5 * $grid-gutter ) ( 0.5 * $grid-line-height ) ( -0.5 * $grid-gutter );
			//transform: rotate( -6deg );

		}

	}

}
