.people {

	position: relative;
	display: flex;
	@include clear;

	.person {

		padding: ( $grid-line-height * 3 ) 10%;
		width: 50%;
		float: left;

		&:nth-child( 1 ) {

			background: lighten( $canvas-color, 12% );

		}

		&:nth-child( 2 ) {

			background: lighten( $canvas-color, 5% );

		}

	}

}
