
.testimonial {

	$testimonialIconSize: 2rem;

	display: flex;
	padding: 0;
	margin: 0 0 ( $grid-line-height * 2 ) 0;
	overflow: visible;

	.avatar {

		width: 100%;

	}

	p {

		@include modular-scale( delta );
		margin-bottom: ( $grid-line-height / 2 );

		@include for-tablet {

			@include modular-scale( epsilon );

		}

	}

	.user {

		color: black;
		text-decoration: none;

		&:hover {

			text-decoration: underline;

		}

	}

	a:not(.user) {

		text-align: right;

	}

}
