body.theme {

	.theme-intro {

		.theme-screenshot {

			margin-bottom: $grid-line-height * $grid-line-height-multiplier;

		}

		.theme-name {

			float: left;

		}

		.theme-price {

			font-weight: bold;
			color: $canvas-green;
			float: right;

		}

	}

	.theme-meta {

		.button {

			width: 48%;
			float: left;

			&:nth-child( 1 ) {

				margin-right: 4%;

			}

		}

		small {

			clear: both;
			display: block;
			text-align: center;
			padding: ( $grid-line-height / 2 ) ( $grid-gutter / 2 );

		}

	}

	.theme-description {

		.theme-meta {

			padding-top: $grid-line-height * $grid-line-height-multiplier;

		}

	}

}
