.themes-list {

	margin-left: $grid-gutter * -0.5;
	margin-right: $grid-gutter * -0.5;
	@include clear;
	display: flex;
	flex-wrap: wrap;

	.theme {

		float: left;
		width: 25%;
		padding: $grid-line-height ( $grid-gutter / 2 );
		text-align: center;
		position: relative;

		.theme-name {

			display: block;
			@include post-meta-data;
			margin: 0;

		}

		a {

			text-decoration: none;

		}

		.theme-icon-wrapper {

			margin-bottom: $grid-line-height / 2;

			img {

				width: 100%;
				height: 100%;
				display: block;

			}

		}

	}

	.theme-hover {

		position: absolute;
		width: $grid-gutter * 6;
		z-index: layer( theme_hover );
		pointer-events: none;
		top: $grid-line-height * 6;
		left: 50%;
		transform: translateX( ( $grid-gutter * 6 / -2 ) );
		background: $canvas-grey-100;
		display: none;
		min-height: $grid-line-height * 5;
		box-shadow: $box-shadow;

		img {

			display: block;
		}

		.theme-info {

			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			color: $canvas-white;
			line-height: 1;
			text-align: left;

			.theme-description,
			.theme-name {

				padding: 0.25em 1em;
				background: rgba( $canvas-grey-100, 0.9 );

			}

			.theme-name {

				display: inline-block;

			}

			.theme-price {

				color: $canvas-green;

			}

			.theme-description {

				display: block;
				@include modular-scale( eta );

			}

		}

	}

}
