a {

	color: $canvas-blue;

	&:hover {

		text-decoration: none;

	}

}

.container {

	@include container;

}

.button {

	width: 100%;

}

hr {

	max-width: $grid-gutter;
	border-width: $border-width;
	border-color: $canvas-red;

}

section {

	h2 {

		text-align: center;
		margin-bottom: $grid-line-height * 2;

	}

}

svg {

	display: inline-block;
	width: 64px;
	height: 64px;
	margin-right: $grid-gutter / 2;
	vertical-align: middle;
	color: $canvas-red;
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: round;

}

.description {

	text-align: center;
	@include modular-scale( epsilon );

}

.display_archive {

	.campaign {

		margin-bottom: $grid-line-height;

	}

}
