a {

	color: $canvas-blue;

	&:hover {

		text-decoration: none;

	}

}

.container {

	@include container;

}

.content {

	padding: ( $grid-line-height * 2 ) 10%;
	@include modular-scale( epsilon );
	@include container;
	clear: both;

}

.button {

	width: 100%;

}

hr {

	max-width: $grid-gutter;
	border-width: 3px;
	border-color: $canvas-red;

}

section {

	h2 {

		text-align: center;
		margin-bottom: $grid-line-height * 2;

	}

}

.about-us {

	padding-top: $grid-line-height * 2;

}

.modules {

	padding: ( $grid-line-height * 3 ) 0;
	position: relative;
	column-count: 2;
	@include clear;

	svg {

		margin: 0 0 ( $grid-line-height / 2 ) 0;

	}

	.module {

		column-count: 1;
		padding: 0 10% ( $grid-line-height * 3 ) 10%;

	}

	.read-now {

		@include post-meta-data;
		border-radius: $border-radius;
		padding: 0.1em 0.5em;

		background: $canvas-green;
		color: $canvas-white;

	}

}

svg {

	display: inline-block;
	width: 64px;
	height: 64px;
	margin-right: $grid-gutter / 2;
	vertical-align: middle;
	color: $canvas-red;
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: round;

}

.lessons {

	list-style-type: none;
	margin: 0;
	padding: 0;

	li {

		clear: both;
		padding: ( $grid-line-height / 2 ) 0;

	}

}

.description {

	text-align: center;
	@include modular-scale( epsilon );

}

.pricing {

	padding: ( $grid-line-height * 2.5 ) 10%;
	background: $canvas-grey-10;

	.packages {

		padding: ( $grid-line-height ) 0;
		display: flex;
		justify-content: center;

	}

	.package {

		width: 100%;
		margin: $grid-line-height 0;
		padding: $grid-line-height ( $grid-gutter / 2 );
		text-align: center;
		background: $canvas-grey-5;
		position: relative;

		&.best {

			background: $canvas-white;
			margin: 0;
			box-shadow: 0 0.5em 1em rgba(0,0,0,0.1);
			z-index: 1;

			h3 {

				font-weight: bold;

			}

		}

		ul {

			margin: 0 0 ( $grid-line-height / 2 ) 0;
			padding: 0;
			list-style-type: none;

		}

	}

	.secure {

		text-align: center;

		svg {

			height: 1.3em;
			width: 1.3em;
			stroke-width: 2px;
			margin-right: 0.5em;
			vertical-align: top;

		}

		p:last-child {

			margin-bottom: 0;

		}

	}

	.guarantee {

		background: $canvas-green;
		display: block;
		border-radius: 10em;
		color: $canvas-white;
		width: 8em;
		text-align: center;
		padding: 2em;
		position: absolute;
		top: -( $grid-line-height * 3 );
		right: -( $grid-gutter / 2 );
		transform: rotate( 10deg );
		box-shadow: 0 0.5em 1em rgba(0,0,0,0.1);

		@include post-meta-data();
		line-height: 1.1;

	}

	.price {

		@include modular-scale( delta );

		strike {

			margin-right: 1em;
			font-weight: normal;
			color: $canvas-grey-40;

		}

	}

}

.hello-bar {

	padding: ( $grid-line-height / 2 ) 0;
	text-align: center;
	background: $canvas-red;
	color: $canvas-white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;

	@include post-meta-data;

}

.buy-now {

	padding: $grid-line-height $grid-gutter;
	background: $canvas-grey-5;

	p {

		text-align: center;

	}

}


.iframe-wrapper {

	position: relative;
	width: 100%;
	padding-bottom: 56.2%;

	iframe {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: block;
		width: 100%;
		height: 100%;

	}

}

.display_archive {

	.campaign {

		margin-bottom: $grid-line-height / 2;

	}

}
