a {

	color: $canvas-blue;

	&:hover {

		text-decoration: none;

	}

}

.container {

	@include container;

}

.masthead {

	padding-top: $grid-line-height * 3.5;
	margin-bottom: $grid-line-height * 2;
	position: relative;

	> * {

		position: relative;
		z-index: 1;

	}

	&:before {

		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 70%;
		background: $canvas-color url( ../images/masthead.png?#{$decache} ) top center no-repeat;
		background-size: contain;
		z-index: 0;

	}

	.branding {

		text-align: center;
		padding: 0 ( $grid-gutter ) ( $grid-line-height * 3 ) ( $grid-gutter );

		h1 {

			@include modular-scale( gamma );
			margin: 0 0 ( $grid-line-height / 4 ) 0;
			display: inline-block;

			span {

				font-weight: bold;

			}

			a {

				text-decoration: none;

				&:hover {

					text-decoration: underline;

				}

			}

		}

		h2 {

			@include modular-scale( zeta );

		}

		img {

			max-height: 2.5rem;
			margin-right: $grid-gutter / 2;
			display: inline-block;
			vertical-align: sub;

		}

		p {

			margin: 0;

			&.sub {

				@include post-meta-data;

			}

		}

	}

	.sub-header {

		text-align: center;
		padding-bottom: $grid-line-height * 2;

	}

	.banner {

		background: $canvas-white;
		padding: ( $grid-line-height * $grid-line-height-multiplier ) $grid-gutter;
		box-shadow: 0 0.5em 1em rgba(0,0,0,0.1);
		width: 60%;
		margin: 0 auto;

		h2 {

			@include modular-scale( delta );

		}

		h3 {

			@include modular-scale( epsilon );
			margin-bottom: 0;

		}

		.newsletter {

			margin-bottom: $grid-line-height * -3.5;
			padding-top: $grid-line-height;

			input[type=submit] {

				margin: 0;
				width: 100%;

			}

			small {

				display: block;
				text-align: center;
				margin-top: $grid-line-height / 4;

			}


		}

		&.iframe-wrapper {

			padding-bottom: 22.6%;

		}

	}

	.preorder {

		display: flex;

		.banner {

			float: left;
			margin: 0;
			width: 50%;

		}

		.button {

		}

		ul.large {

			@include modular-scale( epsilon );

		}

	}

}

.content {

	padding: ( $grid-line-height * 2 ) 10%;
	@include modular-scale( epsilon );
	@include container;
	clear: both;

}

.button {

	width: 100%;

}

hr {

	max-width: $grid-gutter;
	border-width: 3px;
	border-color: $canvas-red;

}

.intro {

	.newsletter {

		padding-top: $grid-line-height * $grid-line-height-multiplier;

	}

}

.newsletter {

	@include modular-scale( zeta );

	label {

		span {

			display: block;
			z-index: 10;
			position: relative;
			padding: 0 ( $grid-gutter / 4 );
			width: 5em;
			text-align: right;
			height: 0;
			transform: translateY( $grid-line-height / 2 );

		}

	}

	input[type=text],
	input[type=email] {

		font-weight: normal;
		padding-left: 5em;

	}

	p {

		@include modular-scale( epsilon );

	}

	.sub {

		@include modular-scale( eta );

	}

	.sup {

		margin-bottom: 0;

	}

}

section {

	h2 {

		text-align: center;
		margin-bottom: $grid-line-height * 2;

	}

}

.about-us {

	padding-top: $grid-line-height * 2;

}

.modules {

	padding: ( $grid-line-height * 3 ) 0;
	position: relative;
	column-count: 2;
	@include clear;

	svg {

		margin: 0 0 ( $grid-line-height / 2 ) 0;

	}

	.module {

		column-count: 1;
		padding: 0 10% ( $grid-line-height * 3 ) 10%;

	}

	.read-now {

		@include post-meta-data;
		border-radius: $border-radius;
		padding: 0.1em 0.5em;

		background: $canvas-green;
		color: $canvas-white;

	}

}

.people {

	background: lighten( $canvas-color, 5% );
	position: relative;
	display: flex;
	@include clear;

	.person {

		padding: ( $grid-line-height * 3 ) 10%;
		width: 50%;
		float: left;

		&:nth-child( 2 ) {

			background: $canvas-color;

		}

		strong {

			@include modular-scale( epsilon );
			display: block;
			margin-bottom: $grid-line-height / 2;
			margin-right: $grid-gutter * -1.25;
			transform: translateX( $grid-gutter * -1.25 );

			&:before {

				display: inline-block;
				content: '';
				border-bottom: $border-width solid $body-copy-color;
				width: $grid-gutter;
				vertical-align: middle;
				margin-right: $grid-gutter / 4;

			}

		}

		img {

			max-width: 8rem;
			float:left;
			margin: ( -0.5 * $grid-line-height ) ( 0.5 * $grid-gutter ) ( 0.5 * $grid-line-height ) ( -0.5 * $grid-gutter );
			//transform: rotate( -6deg );

		}

	}

}

svg {

	display: inline-block;
	width: 64px;
	height: 64px;
	margin-right: $grid-gutter / 2;
	vertical-align: middle;
	color: $canvas-red;
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: round;

}

.lessons {

	list-style-type: none;
	margin: 0;
	padding: 0;

	li {

		clear: both;
		padding: ( $grid-line-height / 2 ) 0;

	}

}

.description {

	text-align: center;
	@include modular-scale( epsilon );

}

.pricing {

	padding: ( $grid-line-height * 2.5 ) 10%;
	background: $canvas-grey-10;

	.packages {

		padding: ( $grid-line-height ) 0;
		display: flex;
		justify-content: center;

	}

	.package {

		width: 100%;
		margin: $grid-line-height 0;
		padding: $grid-line-height ( $grid-gutter / 2 );
		text-align: center;
		background: $canvas-grey-5;
		position: relative;

		&.best {

			background: $canvas-white;
			margin: 0;
			box-shadow: 0 0.5em 1em rgba(0,0,0,0.1);
			z-index: 1;

			h3 {

				font-weight: bold;

			}

		}

		ul {

			margin: 0 0 ( $grid-line-height / 2 ) 0;
			padding: 0;
			list-style-type: none;

		}

	}

	.secure {

		text-align: center;

		svg {

			height: 1.3em;
			width: 1.3em;
			stroke-width: 2px;
			margin-right: 0.5em;
			vertical-align: top;

		}

		p:last-child {

			margin-bottom: 0;

		}

	}

	.guarantee {

		background: $canvas-green;
		display: block;
		border-radius: 10em;
		color: $canvas-white;
		width: 8em;
		text-align: center;
		padding: 2em;
		position: absolute;
		top: -( $grid-line-height * 3 );
		right: -( $grid-gutter / 2 );
		transform: rotate( 10deg );
		box-shadow: 0 0.5em 1em rgba(0,0,0,0.1);

		@include post-meta-data();
		line-height: 1.1;

	}

	.price {

		@include modular-scale( delta );

		strike {

			margin-right: 1em;
			font-weight: normal;
			color: $canvas-grey-40;

		}

	}

}

.hello-bar {

	padding: ( $grid-line-height / 2 ) 0;
	text-align: center;
	background: $canvas-red;
	color: $canvas-white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;

	@include post-meta-data;

}

.buy-now {

	padding: $grid-line-height $grid-gutter;
	background: $canvas-grey-5;

	p {

		text-align: center;

	}

}

footer {

	background: $canvas-grey-10;

	.copyright {

		padding: ( $grid-line-height * 2 ) 0;
		@include post-meta-data;
		text-align: center;
		opacity: 0.6;

		&:hover {

			opacity: 1;

		}

	}

}


.iframe-wrapper {

	position: relative;
	width: 100%;
	padding-bottom: 56.2%;

	iframe {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: block;
		width: 100%;
		height: 100%;

	}

}

.display_archive {

	.campaign {

		margin-bottom: $grid-line-height / 2;

	}

}
