---
layout: default
body_class: events
---

<div class="content">

	<h1>Conferences &amp; Events</h1>

	{{ content }}

</div>

<div class="content">

	<ul class="events-list">

		{% capture now %}{{ 'now' | date: '%s' | plus: 0 }}{% endcapture %}
		{% for event in site.events %}

			{% capture date %}{{ event.date_start | date: '%s' | plus: 0 }}{% endcapture %}
			{% if date > now %}
				{% include functions/event.html event=event %}
			{% endif %}

		{% endfor %}

	</ul>

</div>

<div class="content">

	<h2>Add Your Event</h2>

	<p>These events are suitable for WordPress Masters. This covers not just WordPress conferences, but things like PHP and Javascript conferences, meetups on running a small business, online webinars about accessibility. etc.</p>

	<p>If you think an event is missing then please do <a href="https://github.com/BinaryMoon/masterwp#adding-events-and-conferences">send us the details</a>.</p>

</div>
