---
layout: default
body_class: home
---

	<div class="content">

		<h1>Weekly Industry Insights for WordPress Pros</h1>

		<p>Get insider WordPress news and analysis, direct to your inbox.</p>

		<a href="{{ site.subscription_link }}" class="button">Subscribe Now</a>

	</div>

	<div class="content">

		<h2>Read and/or Recommended By People At…</h2>

		<div class="read-by-logos">
			{% for logo in site.data.readby %}
				<img src="/assets/logo/{{ logo }}.png" />
			{% endfor %}
		</div>

	</div>

	<div class="content">

		<h2>{{ page.title | escape }}</h2>

		{{ content }}

		<hr id="newsletter-signup" />

		{% include newsletter.html %}

	</div>

	<!-- TESTIMONIALS -->
	<div class="content">

		<h2>Testimonials</h2>

		{% for testimonial in site.data.testimonials limit: 6 %}
		<blockquote class="testimonial">
			<div class="avatar"><img src="/assets/avatars/{{ testimonial.userlink }}.jpg" alt="" /></div>
			<div>
				<p class="name">
					<span class="blip"></span>
					<a href="https://twitter.com/{{ testimonial.userlink }}" class="user">{{ testimonial.user }}</a> - {{ testimonial.url }}
				</p>
				<p>{{ testimonial.tweet }}</p>
			</div>
		</blockquote>
		{% endfor %}

	</div>

	<!-- ARCHIVES -->
	<div class="content">

		<h2>Popular Editions</h2>

		<p>We send out new WordPress newsletters every Wednesday at 3pm GMT.</p>

		<div class="display_archive">
			<div class="campaign">12/12/2018 - <a href="https://us13.campaign-archive.com/?u=bf5d11ade9be022f552b86e69&id=ed7e0310b5">Issue 96 - guest editor, Matt Mullenweg</a></div>
			<div class="campaign">24/10/2018 - <a href="https://us13.campaign-archive.com/?u=bf5d11ade9be022f552b86e69&id=f4b2d15199">Issue 89 - accessibility special</a></div>
			<div class="campaign">17/10/2018 - <a href="https://us13.campaign-archive.com/?u=bf5d11ade9be022f552b86e69&id=d9a12a56c2">Issue 88 – what now?</a></div>
			<div class="campaign">26/09/2018 - <a href="https://us13.campaign-archive.com/?u=bf5d11ade9be022f552b86e69&id=9baaf4a1e9">Issue 85 – WordPress products</a></div>
		</div>

		<a class="button" href="{% link _pages/archives.md %}">More &rarr;</a>

	</div>

	<!-- SWAG -->
	<div class="content swag">

		<div class="swagger">

			<h2>TShirts</h2>

			<p><strong>Support MasterWP</strong> by buying and wearing our ethically created TShirts.</p>
			<p>Our products are made from organic cotton and printed in the UK in a renewable energy powered factory.</p>
			<a href="https://masterwp.teemill.com" class="button">Check them out &rarr;</a>

		</div>

	</div>