---
layout: default
body_class: home
---

	<div class="content">

		<h1>{{ page.title | escape }}</h1>

		{{ content }}

		<hr />

		{% include newsletter.html %}

	</div>

	<div class="content">

		<h2>Past Issues</h2>

		<script language="javascript"
			src="//masterwp.us13.list-manage.com/generate-js/?u=bf5d11ade9be022f552b86e69&amp;fid=6313&amp;show=10"
			type="text/javascript"></script>

	</div>

	<div class="content">

		<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">If you&#39;re looking for a high quality WordPress newsletter, check out <a href="https://t.co/xTs4pPzLrS">https://t.co/xTs4pPzLrS</a> by <a href="https://twitter.com/AlexDenning">@AlexDenning</a> and <a href="https://twitter.com/BinaryMoon">@BinaryMoon</a></p>&mdash; Jeff (@jeffr0) <a href="https://twitter.com/jeffr0/status/865716522538475520">May 19, 2017</a></blockquote>
		<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

	</div>
