---
layout: default
body_class: themes
---

	<div class="content">

		<h1>WordPress Theme Finder</h1>

		{% include theme-filter.html %}

	</div>

	<div class="content">

		<section class="themes-list">

			{% for theme in site.themes %}
			<div class="theme"
				data-price="{{ theme.price }}"
				data-name="{{ theme.title }}"
				data-screenshot="{{ "/assets/themes/screenshots/" | relative_url }}{{ theme.title | slugify }}.png"
				data-short-description="{{ theme.intro }}"
				data-tags="{{ theme.theme_tags }}"
			>
				<a href="{{ theme.url | relative_url }}" class="theme-url">
					<div class="theme-icon-wrapper">
						<img src="{{ "/assets/themes/" | relative_url }}{{ theme.title | slugify }}/icon.png" class="theme-icon" />
					</div>
					<h2 class="theme-name">{{ theme.title | escape }}</h2>
				</a>

				<div class="theme-hover">
					<img data-src="{{ "/assets/themes/" | relative_url }}{{ theme.title | slugify }}/screenshot.png" class="theme-screenshot" />
					<div class="theme-info">
						<span class="theme-name">{{ theme.title | escape }} <em class="theme-price">{% include functions/price.html price=theme.price %}</em></span>
						<span class="theme-description">{{ theme.intro | escape }}</span>
					</div>
				</div>
			</div>
			{% endfor %}

			<div class="no-themes message error" style="display: none;">
				Sorry - no themes here match your requirements.
			</div>

		</section>

	</div>

	<div class="content">

		<h2>Why these WordPress themes?</h2>

		<p>The themes on MasterWP are the best there are. They are hand-crafted by boutique theme shops. They might not be the biggest shops, and you may not have heard of them, but each theme is crafted with care and attention. You won't find any bloated themes here. All the themes are simple and work perfectly for their intended purpose.</p>

		<p>These themes are the opposite of those found on ThemeForest - they probably do less than those themes - and they may even cost more. But what they lack in features, they make up for with robust, well tested code, and easy to learn theme setup. You can buy one of these themes safe in the knowledge that you can reproduce the demo in minutes - not days.</p>
	</div>
