---
layout: default
---

<section class="themes-list">

	<div class="content">

		{% for theme in site.themes %}
		<div class="theme"
			data-price="{{ theme.price }}"
			data-name="{{ theme.title }}"
			data-screenshot="{{ "/assets/themes/screenshots/" | relative_url }}{{ theme.title | slugify }}.png"
			data-short-description="{{ theme.short_description }}"
			data-tags="{{ theme.tags }}"
		>
			<a href="{{ theme.url | relative_url }}" class="theme-url">
				<div class="theme-icon-wrapper">
					{{theme.file}}
					<img src="{{ "/assets/themes/" | relative_url }}{{ theme.title | slugify }}/icon.png" class="theme-icon" />
				</div>
				<span class="theme-name">{{ theme.title | escape }}</span>
			</a>
		</div>
		{% endfor %}

	</div>

</section>
