---
layout: default
body_class: theme
---

	<div class="content">

		<h1 class="theme-name">{{ page.title | escape }}</h1>

		<em class="theme-price">{% include functions/price.html price=page.price %}</em>

		<p class="intro">{{ page.intro }}</p>

	</div>

	<div class="content">

		{% include functions/theme-image.html theme=page.title image="screenshot.png" %}

		<div class="theme-meta">

			<a href="{{ page.theme_info_url }}" class="button">More Info</a>
			<a href="{{ page.theme_demo_url }}" class="button">Theme Demo</a>
			<small>These buttons will open pages on a third party website.</small>

		</div>

		{{ content }}

	</div>
